Modware-*
.build/
!modware-update
!modware-export
!modware-transform
!modware-load
!modware-dump
!modware-import
locallib/
data/
config/
log/
sqlnet.log
tmp/
perltidy.LOG
nytprof*
gaf_check/
local/
.carton/
.perl-version
Build
MYMETA.json
MYMETA.yml
_build/
blib/
.env


