language: perl
perl:
    - "5.10"
    - "5.12"
    - "5.14"
    - "5.16"
    - "5.18"
    - "5.19"
before_script:
    - createdb -U postgres test_chado
script:
    - perl Build.PL && ./Build && HARNESS_OPTIONS=j6 TC_DSN="dbi:Pg:dbname=test_chado" TC_USER="postgres" TC_PASS="" cover -test
install:
    - "sudo apt-get update"
    - "sudo apt-get install libdb-dev"
    - "cpanm -n --quiet --installdeps ."
    - "cpanm --quiet -n Devel::Cover::Report::Coveralls DBD::Pg"
branches:
    only:
        - "develop"
    after_success:
        cover -report coveralls
